{% extends 'common/base.html' %}
{% load static %}


{% block content %}
<div class="form-container">
    <form method="post">
        {% csrf_token %}

        {% if form.errors %}
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <div class="error-messages">{{ error }}</div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div class="form-group">
            <label for="username">Username/Email:</label>
            {{ form.username }}
        </div>

        <div class="form-group">
            <label for="password">Password:</label>
            {{ form.password }}
        </div>

        <button type="submit" class="button-9">Login</button>

        <p class="dont-have-account">Don't have an account? <a href="{% url 'register' %}">Register</a></p>
    </form>
</div>
{% endblock %}