{% extends 'common/base.html' %}
{% load static %}


{% block content %}
<div class="form-container">
    <form method="post">
        {% csrf_token %}

        <div class="form-group">
            <label for="username">Username:</label>
            {{ form.username }}
        </div>

        <div class="form-group">
            <label for="email">Email:</label>
            {{ form.email }}
        </div>

        <div class="form-group">
            <label for="password1">Password:</label>
            {{ form.password1 }}
        </div>

        <div class="form-group">
            <label for="password2">Confirm Password:</label>
            {% if form.password2.errors %}
                {% for error in form.password2.errors %}
                    <div class="error-messages">{{ error }}</div>
                {% endfor %}
            {% endif %}
            {{ form.password2 }}
        </div>

        <button type="submit" class="button-9">Register</button>

        <p class="already-have-account">Already have an account? <a href="{% url 'login' %}">Login</a></p>
    </form>
</div>
{% endblock %}