{% extends 'common/base.html' %}
{% load static %}

{% block header %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/goals.css' %}">
{% endblock %}

{% block content %}
    <div class="add-product-container">
        <a href="{% url 'add-weekday' %}" class="add-product-button">Add WeekDay</a>
    </div>

    <div class="goals-container">
        <div class="goal-cards">
            {% for day in user.weekdays.all %}
            <div class="goal-card">
                <h3>{{ day.name }}</h3>
                <p><strong>Workout Type:</strong>
                    {% if day.workouts.all %}
                    {% for workout in day.workouts.all %}
                        {{ workout.name }}
                    {% endfor %}
                    {% else %}
                        N/W
                    {% endif %}
                </p>
                <p><strong>Total Calories for the day:</strong> {{ day.total_calories }} </p>
                <p><strong>Summary:</strong> {{ day.summary }} </p>

                <div class="goal-actions">
                    <a href="{% url 'edit-weekday' weekday=day.name|lower %}" class="button">Details</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}