{% extends 'common/base.html' %}
{% load static %}

{% block header %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/products-display.css' %}">
{% endblock %}

{% block content %}
    <div class="add-product-container">
        <a href="{% url 'add-meal' %}" class="add-product-button">Add Meal</a>
    </div>
    
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}
    
            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
    
            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
    
    <div class="products-container">
    {% for meal in page_obj %}
        <div class="product-card">
            <a href="{% url 'delete-meal' meal.id %}" class="cross-button" title="Delete Meal">✖</a>
            <a href="{% url 'edit-meal' meal.id %}" class="edit-button">Edit</a>
            <h3>{{ meal.name }}</h3>
            <p><strong>Calories:</strong> {{ meal.calories }}</p>
            <p>{{ meal.description }}</p>
        
        <details class="dropdown-container">
            <summary class="dropdown-trigger">View Recipe</summary>
            <p>{{ meal.recipe }}</p>
        </details>
        </div>
    {% endfor %}
    </div>
    
{% endblock %}