{% extends 'common/base.html' %}

{% block content %}
<div class="about-page">
    <section class="about-header">
        <h1>About Fitness Tracker</h1>
        <p>Your ultimate solution for achieving your fitness goals!</p>
    </section>

    <section class="about-details">
        <h2>Our Mission</h2>
        <p>
            Fitness Tracker is designed to help you seamlessly organize and monitor your workouts, meals, and fitness goals.
            Whether you're looking to gain, lose, or maintain weight, our tools empower you to stay on track.
        </p>
        <h2>What We Offer</h2>
        <ul>
            <li>Personalized workout plans</li>
            <li>Meal tracking with calorie and macro breakdowns</li>
            <li>Custom meal plans tailored to your goals(Take a look at people's shared <a href="{% url 'shared-mealplans' %}">meal plans</a>)</li>
            <li>Goal setting and achievement monitoring</li>
        </ul>
        <h2>Why Choose Us?</h2>
        <p>
            We combine simplicity with powerful functionality, making fitness tracking accessible for everyone. Join our
            growing community of health enthusiasts and start your journey <a href="{% url 'register' %}">today</a>!
        </p>
    </section>
</div>
{% endblock %}
