{% extends 'common/base.html' %}
{% load static %}

{% block header %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/goals.css' %}">
{% endblock %}

{% block content %}
    <section class="goals-section">
        <h1>Welcome {{ user.username }} to Fitness Tracker</h1>
        {% if user.goals.all %}
            <h2>Your Goals</h2>
        {% else %}
            <h3>You haven't set any goals yet</h3>
        {% endif %}

        <div class="goals-container">
            <div class="goal-cards">
                {% if user.goals.count <= 5 %}
                {% for goal in user.goals.all %}
                    <div class="goal-card">
                        <h3>{{ goal.name }}</h3>
                        <p><strong>Description:</strong> {{ goal.description }}</p>
                        <p><strong>Target Date:</strong> {{ goal.target_date }}</p>

                         {% if goal.is_completed %}
                            <span class="checkmark">✔</span>
                         {% endif %}

                        <!-- You can add links to edit or delete the goal -->
                        <div class="goal-actions">
                            <a href="{% url 'edit-goal' goal.pk %}" class="button" style="text-decoration: none">Edit</a>
                            <a href="{% url 'delete-goal' goal.pk %}" class="button delete" style="text-decoration: none">Delete</a>
                        </div>
                    </div>
                {% endfor %}
                {% endif %}
            </div>
        </div>
    </section>
{% endblock %}