{% extends 'common/base.html' %}
{% load static %}

{% block header %}
    {{ block.super }}
        <link rel="stylesheet" href="{% static 'css/public-page.css' %}">
{% endblock %}

{% block content %}
    {% if not user.is_authenticated %}
    <section class="goals-section">
        <h1>Welcome to Fitness Tracker</h1>
    </section>
    {% endif %}
    
    <div class="public-goals-container">
        <h2>Take a look and get motivated</h2>
        
        <div class="public-goal-cards">
            {% for goal in goals %}
                {% if goal.make_public %}
                    <div class="public-goal-card">
                        {% if not goal.approved %}
                            {% if 'goals.can_approve_goals' in request.user.get_group_permissions or perms.goals.can_do_approve %}
                                <div class="approval-icon">
                                    <a href="{% url 'approve' goal.pk %}"><i class="fas fa-check-circle"></i></a>
                                </div>
                            {% endif %}
                        {% endif %}

                        <div class="goal-header">
                            {% if goal.user.profile.profile_picture %}
                                <img src="{{ goal.user.profile.profile_picture }}" alt="Profile Picture" class="profile-img">
                            {% else %}
                                <img src="{% static 'images/default_pfp.jpg' %}"
                                    alt="Profile Picture" class="profile-picture">
                            {% endif %}
                            <h3>{{ goal.user.username }}</h3>
                        </div>
                        <h4>{{ goal.name }}</h4>
                        <p>{{ goal.description }}</p>

                        <div class="created-at">
                            Created on: {{ goal.created_at|date:"F j, Y" }}
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
