.goals-container {
    width: 80%;
    margin: 0 auto;
    text-align: left;
    padding: 20px;
}

h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
    text-align: center; /* Center the "Your Goals" text */
}

h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: #333;
    text-align: center; /* Center the "Welcome" text */
}

.goals-section {
    text-align: center; /* Ensure all content in this section is centered */
}

.goal-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    grid-row-gap: 50px;
    margin-top: 30px;
}

.goal-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow: hidden;
}

.goal-card:hover {
    transform: translateY(-10px);
}


.goal-card h3 {
    color: #2c3e50;
    font-size: 1.5em;
    margin-bottom: 10px;
}

.goal-card p {
    color: #555;
    margin: 5px 0;
    font-size: 1em;
    flex-grow: 1;
}

.goal-actions {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.goal-card:hover .goal-actions {
    opacity: 1; /* Show buttons */
}

.button {
    padding: 10px 15px;
    border: none;
    background-color: #394867;
    color: #fff;
    font-size: 1em;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #212a3e;
}

.delete {
    background-color: #e74c3c;
}

.delete:hover {
    background-color: #c0392b;
}

.goal-card .checkmark {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color: #28a745;
    font-weight: bold;
}

/* Optional: Styling for Achieved Goals */
.goal-card.achieved {
    border-color: #28a745;
    background-color: #e8f7e5;  /* Light green background */
}
