{% extends 'common/base.html' %}
{% load static %}


{% block content %}
    <div class="form-container">
        <h2 class="form-title">Set Goal</h2>

        <form method="post">
            {% csrf_token %}
            
            <div class="form-group">
                <label for="goal-name">Goal Name</label>
                {{ form.name }}
            </div>

            <div class="form-group">
                <label for="goal-description">Description</label>
                {{ form.description }}
            </div>

            <div class="form-group">
                <label for="goal-duration">Target Date</label>
                {{ form.target_date }}
            </div>

            <div class="form-actions">
                <input type="submit" value="Set Goal" class="button-9">
            </div>
        </form>
    </div>
{% endblock %}